.navBrand {
    color: var(--green-9);
    font-size: x-large;
}

.navFlex {
    display: flex;
    justify-content: flex-start; 
}

.navFix {
    padding: 1rem;
    width: 100vw;
    height: 10vh;
    background-color: var(--gray-2);
}

.navText {
    color: var(--green-9);
    font-size: large;
}

.navDropdownText {
    color: var(--green-9);
    font-size: medium;
}