.dashboardBackground {
    height: 85vh;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;
    background-color: var(--green-3);
}

.cardSize { 
    height: 500px;
    width: 700px;
    background-color: var(--col-5);
}

.carousel {
    height: 67vh;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.padding {
    padding: 1rem;
}

.sizeUp {
    padding-top: 6vh;
    height: 70vh;
}

.smallCard {
    margin-left: auto;
    margin-right: auto;
    height: 20vh;
    width: 90vw;
    border-radius: 50px 50px 0px 0px;
    background-color: var(--green-7);
    color: var(--col-4)
}

td, th {
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 2rem;
    padding-right: 2rem;
}