.loginCard {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20vh;
    width: 30%;
    background-color: var(--green-3);
    opacity: 95%;
    border-radius:25px;
}


.background {
    background-color: var(--gray-2);
    height: 90vh;
}

.backgroundImage {
    height: 85vh;
    width: 85vw;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;
}

.clear {
    opacity: 0;
}

.input {
    width: 15vw;
    padding: 1vh;
    border-radius: 10px;
}

.registerCard {
    margin-left: auto;
    margin-right: auto;
    margin-top: 12vh;
    width: 30%;
    background-color: var(--green-3);
    opacity: 95%;
    border-radius:25px;
}

.select {
    width: 15vw;
    padding: 1vh;
    border-radius: 10px;
}