.buttonWSymbol {
    border: none;
    background:none;
}

.cancelButton {
    background-color: var(--gray-6);
    width: 5vw;
    border-radius: 30px;
}

.cellFix {
    border-spacing: 10px;
    border-collapse:separate; 
}

.center {
    display: flex;
    justify-content: center;
}

.deleteButton {
    width: 10vw;
    border-radius: 30px;
}

.gmBackground {
    height: 85vh;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;
    background-color: var(--green-3);
    padding: 1rem;
    overflow-y: auto;
}

.gmText {
    margin-top: 15%;
    color: var(--blue-3);
    font-size: large;
}

.gmText:hover {
    color: var(--gray-1)
}

.greenButton {
    background-color: var(--col-1);
    width: 10vw;
    border-radius: 30px;
}

.margin {
    margin-top: 3rem;
}

.marginSmall {
    margin-top: 1rem;
}

.modalFix {
    width: 150%;
}